@import url("https://fonts.googleapis.com/css?family=Anta");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #222222;
}

#title {
  font-family: 'Anta';
}

#title-index {
  font-family: 'Anta';
  font-size: 90px;
  vertical-align: middle;
  border:1px solid orange;
  border-radius:5px; 
  padding:15px;
}

a,
button,
h1,
h2,
h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
  color: darkcyan;
}

#app-greeting{
  color: whitesmoke;
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
  font-style: italic;
  text-transform: uppercase;
}

#about-list>li{
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
}

.col-md-6,
h3,
h4{
  color: white;
}

.col, .delete-info > h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.3);
}

.card-title, #card-genre {
    white-space: nowrap;
    text-overflow: ellipsis;
    object-fit: contain;
    overflow: hidden;
    line-break: normal;
}


