@model AllRadiosAdminQueryModel

<div class="d-flex justify-content-between align-items-center gap-5">
    <form class="w-100" method="get">
        <div class="row bg-secondary rounded-3">
            <div class="form-group col-md-3 d-flex justify-content-between">
                <div class="form-group">
                    <label asp-for="UserTarget"></label>
                    <select asp-for="UserTarget" class="form-control">
                        <option value="">All</option>
                        @foreach (var user in Model.Users)
                        {
                            <option value="@user">@user</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group p-4">
                    <input type="submit" value="Search" class="btn btn-dark" />
                </div>
            </div>
        </div>
    </form>
</div>
<br />
<br />

@if (!Model.Radios.Any())
{
    <h2 class="text-center text-light">No radios found!</h2>
}
<partial name="_AdminPartial"></partial>
<br />
