@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<div>
    <ul type="none" id="about-list">
        <li>
            <h6>Version</h6>
            <p>0.0.1</p>
            <hr />
        </li>
        <li>
            <h6>Developer</h6>
            <p>GMKuzmanoff</p>
            <hr />
        </li>
        <li>
            <h6>Support</h6>
            <p>gmkuzmanoff@gmail.com</p>
            <hr />
        </li>
    </ul>
</div>
<p>Use this page to detail your site's privacy policy.</p>
