
@{
	ViewBag.Title = "Error 500";
}

<br />
<br />
<div class="d-flex justify-content-center align-items-center">
	<img class="rounded-3"
		 src="https://prestashop.com/wp-content/uploads/2023/04/500error_0.jpg" width="640" />
</div>

