@{
	ViewBag.Title = "Error 400";
}

<br />
<br />
<div class="d-flex justify-content-center align-items-center">
	<img class="rounded-3" src="https://sitechecker.pro/wp-content/uploads/2023/06/400-status-code.png" width="640" />
</div>

