@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-lg-5 align-content-center">
    <p id="app-greeting"></p>
    <span><a id="title-index" href="#" class="text-warning bg-opacity-90 bg-black">StreamOr</a></span>
    <p id="app-greeting" class="m-3">your personal online radio streaming platform</p>
    <hr style="color:lightgray;"/>
</div>
<div class="text-center">
	<img src="http://gmkuzmanoff.free.bg/images/equalizer.gif" style="width:20rem;" />
</div>

 