@model AllRadiosQueryModel
@{
    ViewBag.Title = $"All Radios";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>@ViewBag.Title</h1>
    <div class="form-group col-md-3">
        <label asp-for="SearchTerm"></label>
        <input asp-for="SearchTerm" class="form-control" placeholder="...">
    </div>
</div>
<br />
<br />


<partial name="_RadioPartial"></partial>
